[submodule "vendor/pyAgxArm"]
	path = vendor/pyAgxArm
	url = https://github.com/robyngehler/pyAgxArm.git
[submodule "vendor/OmniHand-Pro-2025"]
	path = vendor/OmniHand-Pro-2025
	url = git@github.com:robyngehler/OmniHand-Pro-2025.git
	branch = jetson-orin-socketcan
