<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="piper_x_description">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import piper_x_description urdf file -->
    <xacro:include filename="$(find agx_arm_description)/agx_arm_urdf/piper_x/urdf/piper_x_description_no_gripper.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="piper_x_description.ros2_control.xacro" />


    <xacro:piper_x_description_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
