<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--<xacro:macro name="duo_body" params="body_mesh_xyz:='-0.11 -0.12411761856079102 -0.07' body_mesh_rpy:='0 0 0'">-->
  <xacro:macro name="duo_body" params="body_mesh_xyz:='0 0 0' body_mesh_rpy:='0 0 0'">

    <link name="body_base_link">
      <visual>
        <origin xyz="${body_mesh_xyz}" rpy="${body_mesh_rpy}"/>
        <geometry>
          <mesh filename="package://duo_body_description/meshes/body_visual.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>

      <collision>
        <origin xyz="${body_mesh_xyz}" rpy="${body_mesh_rpy}"/>
        <geometry>
          <mesh filename="package://duo_body_description/meshes/body_collision.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <link name="left_arm_mount_link"/>
    <joint name="body_to_left_arm_mount" type="fixed">
      <parent link="body_base_link"/>
      <child link="left_arm_mount_link"/>
      <!--<origin xyz="-0.137511 0.104055 0.070000" rpy="0 1.570796 -0.837758"/>-->
      <origin xyz="-0.154602 0.110059 0.078262" rpy="0 -1.570796 -0.837758"/>
    </joint>

    <link name="right_arm_mount_link"/>
    <joint name="body_to_right_arm_mount" type="fixed">
      <parent link="body_base_link"/>
      <child link="right_arm_mount_link"/>
      <!--<origin xyz="0.137511 0.104055 0.070000" rpy="0 1.570796 0.837758"/>-->
      <origin xyz="0.154602 0.110059 0.071262" rpy="0 1.570796 0.837758"/>
    </joint>

  </xacro:macro>

</robot>