<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="thumb_roll_x" value="0" />
  <xacro:property name="thumb_roll_y" value="0.018521" />
  <xacro:property name="thumb_roll_z" value="0.047551" />

  <xacro:property name="thumb_abad_x" value="0.020801" />
  <xacro:property name="thumb_abad_y" value="0.004292" />
  <xacro:property name="thumb_abad_z" value="-0.00052506" />

  <xacro:property name="thumb_mcp_x" value="0" />
  <xacro:property name="thumb_mcp_y" value="0.0265" />
  <xacro:property name="thumb_mcp_z" value="-0.005275" />

  <xacro:property name="thumb_pip_x" value="0" />
  <xacro:property name="thumb_pip_y" value="0.036231" />
  <xacro:property name="thumb_pip_z" value="0.0036755" />

  <xacro:property name="thumb_dip_x" value="0" />
  <xacro:property name="thumb_dip_y" value="0.026468" />
  <xacro:property name="thumb_dip_z" value="-0.0073106" />

  <xacro:property name="thumb_tip_y" value="0.02392" />
  <xacro:property name="thumb_tip_z" value="-0.01158" />

  <xacro:property name="index_abad_x" value="0" />
  <xacro:property name="index_abad_y" value="0.02695" />
  <xacro:property name="index_abad_z" value="0.094548" />

  <xacro:property name="middle_abad_x" value="-0.0025" />
  <xacro:property name="middle_abad_y" value="0.00795" />
  <xacro:property name="middle_abad_z" value="0.096548" />

  <xacro:property name="ring_abad_x" value="-0.00151" />
  <xacro:property name="ring_abad_y" value="-0.01105" />
  <xacro:property name="ring_abad_z" value="0.094548" />

  <xacro:property name="pinky_abad_x" value="0" />
  <xacro:property name="pinky_abad_y" value="-0.03005" />
  <xacro:property name="pinky_abad_z" value="0.089548" />

  <xacro:property name="finger_pip_x" value="0.00048163" />
  <xacro:property name="finger_pip_y" value="0" />
  <xacro:property name="finger_pip_z" value="0.017575" />

  <xacro:property name="finger_dip_x" value="-0.0015" />
  <xacro:property name="finger_dip_y" value="0" />
  <xacro:property name="finger_dip_z" value="0.036" />

  <xacro:property name="finger_tip_x" value="-0.0011" />
  <xacro:property name="finger_tip_z" value="0.03612" />

  <xacro:property name="palm_collision_cylinder_z" value="0.00725" />
  <xacro:property name="palm_collision_cylinder_r" value="0.028" />
  <xacro:property name="palm_collision_cylinder_l" value="0.0145" />

  <xacro:property name="palm_collision_box_z" value="0.057" />
  <xacro:property name="palm_collision_box_l" value="0.04" />
  <xacro:property name="palm_collision_box_w" value="0.082" />
  <xacro:property name="palm_collision_box_h" value="0.085" />

  <xacro:property name="thumb_mcp_collision_box_y" value="0.00650" />
  <xacro:property name="thumb_mcp_collision_box_z" value="0.00237" />
  <xacro:property name="thumb_mcp_collision_box_l" value="0.029" />
  <xacro:property name="thumb_mcp_collision_box_w" value="0.042" />
  <xacro:property name="thumb_mcp_collision_box_h" value="0.0325" />

  <xacro:property name="thumb_pip_collision_box_rotr" value="-0.2" />
  <xacro:property name="thumb_pip_collision_box_y" value="0.0116" />
  <xacro:property name="thumb_pip_collision_box_z" value="-0.0032" />
  <xacro:property name="thumb_pip_collision_box_l" value="0.019" />
  <xacro:property name="thumb_pip_collision_box_w" value="0.035" />
  <xacro:property name="thumb_pip_collision_box_h" value="0.0225" />

  <xacro:property name="thumb_dip_collision_cylinder_rotr" value="-1.8" />
  <xacro:property name="thumb_dip_collision_cylinder_y" value="0.0134" />
  <xacro:property name="thumb_dip_collision_cylinder_z" value="-0.0026" />
  <xacro:property name="thumb_dip_collision_cylinder_r" value="0.011" />
  <xacro:property name="thumb_dip_collision_cylinder_l" value="0.023" />

  <xacro:property name="finger_pip_collision_z" value="0.014" />
  <xacro:property name="finger_pip_collision_r" value="0.01" />
  <xacro:property name="finger_pip_collision_l" value="0.044" />

  <xacro:property name="finger_dip_collision_z" value="0.018" />
  <xacro:property name="finger_dip_collision_r" value="0.007" />
  <xacro:property name="finger_dip_collision_l" value="0.034" />

  <xacro:property name="thumb_pip_multiplier" value="1.33" />
  <xacro:property name="thumb_dip_multiplier" value="1.3" />
  <xacro:property name="finger_dip_multiplier" value="1.097" />

  <xacro:property name="thumb_roll_position_max" value="${50*pi/180.0}" />
  <xacro:property name="thumb_roll_position_min" value="${-10*pi/180.0}" />
  <xacro:property name="thumb_roll_velocity_max" value="0.164" />
  <xacro:property name="thumb_roll_torque_max" value="0.419" />

  <xacro:property name="thumb_abad_position_max" value="0" />
  <xacro:property name="thumb_abad_position_min" value="${-100*pi/180.0}" />
  <xacro:property name="thumb_abad_velocity_max" value="0.164" />
  <xacro:property name="thumb_abad_torque_max" value="0.314" />

  <xacro:property name="thumb_mcp_position_max" value="${49*pi/180.0}" />
  <xacro:property name="thumb_mcp_position_min" value="0" />
  <xacro:property name="thumb_mcp_velocity_max" value="0.308" />
  <xacro:property name="thumb_mcp_torque_max" value="1.764" />

  <xacro:property name="thumb_pip_position_max" value="${65*pi/180.0}" />
  <xacro:property name="thumb_pip_position_min" value="0" />
  <xacro:property name="thumb_pip_velocity_max" value="0.308" />
  <xacro:property name="thumb_pip_torque_max" value="1.764" />

  <xacro:property name="thumb_dip_position_max" value="${65*pi/180.0}" />
  <xacro:property name="thumb_dip_position_min" value="0" />
  <xacro:property name="thumb_dip_velocity_max" value="0.308" />
  <xacro:property name="thumb_dip_torque_max" value="1.764" />

  <xacro:property name="index_abad_position_max" value="0" />
  <xacro:property name="index_abad_position_min" value="${-12*pi/180.0}" />
  <xacro:property name="index_abad_velocity_max" value="0.164" />
  <xacro:property name="index_abad_torque_max" value="1.863" />

  <xacro:property name="ring_abad_position_max" value="${10*pi/180.0}" />
  <xacro:property name="ring_abad_position_min" value="0" />
  <xacro:property name="ring_abad_velocity_max" value="0.164" />
  <xacro:property name="ring_abad_torque_max" value="2.766" />

  <xacro:property name="pinky_abad_position_max" value="${10*pi/180.0}" />
  <xacro:property name="pinky_abad_position_min" value="0" />
  <xacro:property name="pinky_abad_velocity_max" value="0.164" />
  <xacro:property name="pinky_abad_torque_max" value="3.393" />

  <xacro:property name="finger_pip_position_max" value="${90*pi/180.0}" />
  <xacro:property name="finger_pip_position_min" value="0" />
  <xacro:property name="finger_pip_velocity_max" value="0.308" />
  <xacro:property name="finger_pip_torque_max" value="1.764" />

  <xacro:property name="finger_dip_position_max" value="${105*pi/180.0}" />
  <xacro:property name="finger_dip_position_min" value="0" />
  <xacro:property name="finger_dip_velocity_max" value="0.308" />
  <xacro:property name="finger_dip_torque_max" value="1.764" />

  <xacro:property name="palm_mass" value="0.1594" />
  <xacro:property name="palm_com_x" value="0.0035098" />
  <xacro:property name="palm_com_y" value="0.0445331" />
  <xacro:property name="palm_com_z" value="-0.0066051" />
  <xacro:property name="palm_ixx" value="0.00010250" />
  <xacro:property name="palm_ixy" value="-0.00000310" />
  <xacro:property name="palm_ixz" value="0.00000097" />
  <xacro:property name="palm_iyy" value="0.00009973" />
  <xacro:property name="palm_iyz" value="-0.00000083" />
  <xacro:property name="palm_izz" value="0.00015087" />

  <xacro:property name="thumb_roll_mass" value="0.0250" />
  <xacro:property name="thumb_roll_com_x" value="-0.0038510" />
  <xacro:property name="thumb_roll_com_y" value="-0.0003110" />
  <xacro:property name="thumb_roll_com_z" value="0.0084010" />
  <xacro:property name="thumb_roll_ixx" value="0.00000286" />
  <xacro:property name="thumb_roll_ixy" value="0.00000000" />
  <xacro:property name="thumb_roll_ixz" value="0.00000003" />
  <xacro:property name="thumb_roll_iyy" value="0.00000201" />
  <xacro:property name="thumb_roll_iyz" value="0.00000005" />
  <xacro:property name="thumb_roll_izz" value="0.00000369" />

  <xacro:property name="thumb_abad_mass" value="0.0056" />
  <xacro:property name="thumb_abad_com_x" value="-0.0000012" />
  <xacro:property name="thumb_abad_com_y" value="0.0129928" />
  <xacro:property name="thumb_abad_com_z" value="-0.0041829" />
  <xacro:property name="thumb_abad_ixx" value="0.00000103" />
  <xacro:property name="thumb_abad_ixy" value="0.00000000" />
  <xacro:property name="thumb_abad_ixz" value="0.00000000" />
  <xacro:property name="thumb_abad_iyy" value="0.00000088" />
  <xacro:property name="thumb_abad_iyz" value="-0.00000006" />
  <xacro:property name="thumb_abad_izz" value="0.00000052" />

  <xacro:property name="thumb_mcp_mass" value="0.0511" />
  <xacro:property name="thumb_mcp_com_x" value="-0.0000183" />
  <xacro:property name="thumb_mcp_com_y" value="0.0225829" />
  <xacro:property name="thumb_mcp_com_z" value="0.0024013" />
  <xacro:property name="thumb_mcp_ixx" value="0.00001274" />
  <xacro:property name="thumb_mcp_ixy" value="-0.00000001" />
  <xacro:property name="thumb_mcp_ixz" value="0.00000000" />
  <xacro:property name="thumb_mcp_iyy" value="0.00000472" />
  <xacro:property name="thumb_mcp_iyz" value="-0.00000028" />
  <xacro:property name="thumb_mcp_izz" value="0.00001121" />

  <xacro:property name="thumb_pip_mass" value="0.0110" />
  <xacro:property name="thumb_pip_com_x" value="-0.0000010" />
  <xacro:property name="thumb_pip_com_y" value="0.0144610" />
  <xacro:property name="thumb_pip_com_z" value="-0.0041500" />
  <xacro:property name="thumb_pip_ixx" value="0.00000134" />
  <xacro:property name="thumb_pip_ixy" value="0.00000000" />
  <xacro:property name="thumb_pip_ixz" value="0.00000000" />
  <xacro:property name="thumb_pip_iyy" value="0.00000079" />
  <xacro:property name="thumb_pip_iyz" value="0.00000007" />
  <xacro:property name="thumb_pip_izz" value="0.00000131" />

  <xacro:property name="thumb_dip_mass" value="0.0070" />
  <xacro:property name="thumb_dip_com_x" value="-0.0000030" />
  <xacro:property name="thumb_dip_com_y" value="0.0103920" />
  <xacro:property name="thumb_dip_com_z" value="-0.0016140" />
  <xacro:property name="thumb_dip_ixx" value="0.00000052" />
  <xacro:property name="thumb_dip_ixy" value="0.00000000" />
  <xacro:property name="thumb_dip_ixz" value="0.00000000" />
  <xacro:property name="thumb_dip_iyy" value="0.00000033" />
  <xacro:property name="thumb_dip_iyz" value="-0.00000016" />
  <xacro:property name="thumb_dip_izz" value="0.00000044" />

  <xacro:property name="finger_abad_mass" value="0.0400" />
  <xacro:property name="finger_abad_com_x" value="-0.0018959" />
  <xacro:property name="finger_abad_com_y" value="-0.0000098" />
  <xacro:property name="finger_abad_com_z" value="0.0066855" />
  <xacro:property name="finger_abad_ixx" value="0.00000737" />
  <xacro:property name="finger_abad_ixy" value="0.00000000" />
  <xacro:property name="finger_abad_ixz" value="-0.00000014" />
  <xacro:property name="finger_abad_iyy" value="0.00000882" />
  <xacro:property name="finger_abad_iyz" value="0.00000000" />
  <xacro:property name="finger_abad_izz" value="0.00000265" />

  <xacro:property name="finger_pip_mass" value="0.0040" />
  <xacro:property name="finger_pip_com_x" value="-0.0028840" />
  <xacro:property name="finger_pip_com_y" value="0.0000015" />
  <xacro:property name="finger_pip_com_z" value="0.0199970" />
  <xacro:property name="finger_pip_ixx" value="0.00000070" />
  <xacro:property name="finger_pip_ixy" value="0.00000000" />
  <xacro:property name="finger_pip_ixz" value="0.00000001" />
  <xacro:property name="finger_pip_iyy" value="0.00000068" />
  <xacro:property name="finger_pip_iyz" value="0.00000000" />
  <xacro:property name="finger_pip_izz" value="0.00000026" />

  <xacro:property name="finger_dip_mass" value="0.0030" />
  <xacro:property name="finger_dip_com_x" value="0.0006180" />
  <xacro:property name="finger_dip_com_y" value="0.0000000" />
  <xacro:property name="finger_dip_com_z" value="0.0192390" />
  <xacro:property name="finger_dip_ixx" value="0.00000040" />
  <xacro:property name="finger_dip_ixy" value="0.00000000" />
  <xacro:property name="finger_dip_ixz" value="0.00000000" />
  <xacro:property name="finger_dip_iyy" value="0.00000040" />
  <xacro:property name="finger_dip_iyz" value="0.00000000" />
  <xacro:property name="finger_dip_izz" value="0.00000012" />
</robot>